.app {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: 100vw;
}


.main {
  width: 100vw;
  min-height: calc(100vh - var(--footer-size));
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color)
}