.panel_art {
    position: fixed;
    left: 0;
    width: 156px;
    height: 100vh;
    background-image: url("https://www.redditstatic.com/accountmanager/bbb584033aa89e39bad69436c504c9bd.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}