.nav {
  width: 100vw;
  height: 56px;
  background-color: var(--post-nav-background-color);
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.nav_container {
  width: 100vw;
  height: 100%;
  background-color: var(--post-nav-background-color);
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.nav_item {
  margin: 0 25px;

  button {
    margin: 0 10px;
    cursor: pointer;
  }
}

.nav_item:last-child {
  display: flex;
  height: 100%;
  align-items: center;


  div:last-child {
    cursor: pointer;
    display: flex;
    height: 38px;
    align-items: center;
    border: 1px solid white;
    border-radius: 3px;
    justify-content: space-evenly;
    width: 150px;

    p {
      font-size: 12px;
    }
  }

  div:last-child:hover {
    border: 1px solid;
    border-color: var(--hover-bg-color);
    transition: all ease 300ms;
  }
}

.sign_up {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid var(--reddit-blue);
  font-weight: bold;
  color: var(--reddit-blue);
  background-color: white;
}

.log_in {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--reddit-blue);
  border: 2px solid var(--reddit-blue);
  font-weight: bold;
  color: white;;
}

.submit {
  height: 32px;
  width: 32px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 300ms;
  margin: 0 5px;

  img {
    height: 28px;
    width: 28px;
  }
}

.submit:hover {
  background-color: #8A8D91;
}